
<%= render partial:'layouts/orga/jumbotron' %>
<br>
<%= render partial:'layouts/orga/calltoaction' %>
<br>
<%= render partial:'layouts/orga/feature1' %>


<div class="container">

  <h1> Kit UI </h1>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Kit UI", path: design_path() , color: "primary"} %> <a> </a>
  

  <h1> Views devise </h1>
  <div class="row">
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "new_user_session", path: new_user_session_path() , color: "primary"} %> <br> <br>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "new_user_password", path: new_user_password_path() , color: "primary"} %><br> <br>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "edit_user_password", path: edit_user_password_path() , color: "primary"} %><br> <br>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "user_password", path: new_user_registration_path() , color: "primary"} %><br> <br>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "edit_user_registration", path: edit_user_registration_path() , color: "primary"} %><br> <br>
</div>


</div>

<%= render partial:'layouts/orga/footer' %>