
<h1> Ceci est la page design </h1>

<h2> Organisms </h2>

<%= render partial:'layouts/orga/footer' %> <br/>
<%= render partial:'layouts/orga/jumbotron' %> <br/>
<%= render partial:'layouts/orga/navbar' %> <br/>



<h2> Molécules </h2>

<h2> Atomes </h2>

<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "primary", path: root_path() , color: "primary"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "secondary", path: root_path() , color: "secondary"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "success", path: root_path() , color: "success"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "info", path: root_path() , color: "info"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "warning", path: root_path() , color: "warning"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "danger", path: root_path() , color: "danger"} %> <br/><br/>

<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "primary", path: root_path() , color: "outline-primary"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "secondary", path: root_path() , color: "outline-secondary"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "success", path: root_path() , color: "outline-success"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "info", path: root_path() , color: "outline-info"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "warning", path: root_path() , color: "outline-warning"} %> <a> </a>
<%= render partial:'layouts/orga/mol/atom/button', locals: {name: "danger", path: root_path() , color: "outline-danger"} %> <br/>


<h1>Hello, Angels</h1>
        <br>
        <h2>Navbar</h2>
        <header>
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="https://www.froala.com">
                        <img src="./imgs/logo.png" height="30" alt="image">
                    </a>
                
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav5" aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarNav5">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www.froala.com">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Team</a>
                        </li>
                        </ul>
                
                        <ul class="navbar-nav justify-content-end ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Docs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.froala.com">Log In</a>
                        </li>
                        </ul>
                
                        <a class="btn btn-primary ml-md-3" href="https://www.froala.com">Button</a>
                    </div>
                    </nav>
                </div>
                </header>
                <div class="mt-3">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">EventBrite</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="forms.html">Forms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="footer.html">Footer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="banniere.html">Banniere</a>
                        </li>      
                        <li class="nav-item">
                            <a class="nav-link" href="cards.html">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="navbar.html">Navbar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pRessource.html">Ressource</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="commenter.html">Commenter</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Se connecter
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Se connecter</a>
                            <a class="dropdown-item" href="#">S'inscrire</a>
                            </div>
                        </li>
                        </ul>
                    </div>
                    </nav>
                </div>
                <br>

            <!-- Buttons -->
            <section>
            <div class="mt-4">
                <div class="page-header">
                <div class="row">
                    <div class="col-lg-12">
                    <h2 id="buttons">Buttons</h2>
                    </div>
                </div>
                </div>

            <div class="row">
            <div class="col-lg-7">
                <div class="mt-3">
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                </div>

            <div class="mt-3">
                <button type="button" class="btn btn-outline-primary">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-info">Info</button>
                <button type="button" class="btn btn-outline-warning">Warning</button>
                <button type="button" class="btn btn-outline-danger">Danger</button>
            </div>
    <!-- Buttons DR -->
            <div class="mt-3">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary">Primary</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-success">Success</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-info">Info</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                </div>
            </div>
                <div class="mt-3">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-danger">Danger</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>	
            <!-- Buttons t.2 R -->
                
            <div class="mt-3">
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-primary">Default button</button>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
            </div>

            </div>
                <div class="col-lg-5">

                    <p class="mt-3">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                    </p>

                    <div class="mt-3" style="margin-bottom: 15px;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active">
                        <input type="checkbox" checked autocomplete="off"> Active
                        </label>
                        <label class="btn btn-primary">
                        <input type="checkbox" autocomplete="off"> Check
                        </label>
                        <label class="btn btn-primary">
                        <input type="checkbox" autocomplete="off"> Check
                        </label>
                    </div>
                    </div>

                    <div class="mt-3" style="margin-bottom: 15px;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                        </label>
                        <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                        </label>
                        <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                        </label>
                    </div>
                    </div>

                    <div class="mt-3">
                    <div class="btn-group-vertical" data-toggle="buttons">
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                        <button type="button" class="btn btn-primary">Button</button>
                    </div>
                    </div>

                    <div class="mt-3" style="margin-bottom: 15px;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Left</button>
                        <button type="button" class="btn btn-secondary">Middle</button>
                        <button type="button" class="btn btn-secondary">Right</button>
                    </div>
                    </div>

                    <div class="mt-3" style="margin-bottom: 15px;">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary">1</button>
                        <button type="button" class="btn btn-secondary">2</button>
                        <button type="button" class="btn btn-secondary">3</button>
                        <button type="button" class="btn btn-secondary">4</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary">5</button>
                        <button type="button" class="btn btn-secondary">6</button>
                        <button type="button" class="btn btn-secondary">7</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-secondary">8</button>
                        </div>
                    </div>
                </div>

        <br>
        <p>
            <h3>Block</h3>
            <button type="button" class="btn btn-block btn-sm btn-primary">Small</button>
            <button type="button" class="btn btn-block btn-primary">Default</button>
            <button type="button" class="btn btn-block btn-lg btn-primary">Large</button>
            <button type="button" class="btn btn-block btn-sm btn-outline-primary">Small</button>
            <button type="button" class="btn btn-block btn-outline-primary">Default</button>
            <button type="button" class="btn btn-block btn-lg btn-outline-primary">Large</button>
        </p>
    </section>
        <br>
        <section>
    <!--TypoGraphy -->
    <div class= "container" >
        <div class="mt-3">
            <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                <h2 id="typography">Typography</h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <h5>Heading 5</h5>
                        <h6>Heading 6</h6>
                        <h3>
                        Heading <small class="text-muted">with muted text</small>
                        </h3>
                        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
            </div>
            
            <!-- T.M. -->
            <div class="col-lg-4">
                <div class="mt-3">
                    <h2>Example body text</h2>
                        <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p>The following is <strong>rendered as bold text</strong>.</p>
                        <p>The following is <em>rendered as italicized text</em>.</p>
                        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                </div>
            </div>

            <!-- T.R -->
            <div class="col-lg-4">
                <div class="mt-3">
                    <h2>Emphasis classes</h2>
                        <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                        <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p class="text-secondary">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                        <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                        <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
            </div>
        </div> <!--  FIN RoW -->
    </div>


        <!-- Blockquotes -->

        <div class="mt-3">
            <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                <h2 id="typography">Blockquotes</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="mt-3">
                    <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote> 			
                </div>
            </div>
                

            <div class="col-lg-4">
                <div class="mt-3">
                    <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote> 			
                </div>
            </div>
            

            <div class="col-lg-4">
                <div class="mt-3">
                    <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote> 			
                </div>
            </div> 

        </div> <!-- FIN Row -->
    </section>
    <section>
        <!-- Alert -->
        <div class="mt-3">
            <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                <h2 id="typography">Alert</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
                    </div>
                                    
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="alert alert-dismissible alert-light">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
                    </div>
                                    
                </div>
            </div>
        </div>  
    </section>

        <br>
            <h2>Forms</h2>
            <div class="row align-items-center">
                        <div class="col mt-4">
                        <input type="text" class="form-control" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                        <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                        <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="col">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                        </div>
                    </div>
                    </div>
                        <button class="btn btn-primary mt-4">Submit</button>
                    </div>
                    <br>
                    <br>
                    <h3>Forms examples</h3>
                <section class="fdb-block">
                        <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                            <div class="row">
                                <div class="col text-center">
                                <h1>Register</h1>
                                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col mt-4">
                                <input type="text" class="form-control" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col">
                                <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col">
                                <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="col">
                                <input type="password" class="form-control" placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="row justify-content-start mt-4">
                                <div class="col">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        I Read and Accept <a href="">Terms and Conditions</a>
                                    </label>
                                </div>
                                <button class="btn btn-primary mt-4">Submit</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </section>

                    <section class="fdb-block" style="background-image: url(imgs/hero/red.svg);">
                        <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
                            <div class="fdb-box">
                                <div class="row">
                                <div class="col">
                                    <h1>Log In</h1>
                                </div>
                                </div>
                                <div class="row mt-4">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                                </div>
                                <div class="row mt-4">
                                <div class="col">
                                    <input type="password" class="form-control mb-1" placeholder="Password">
                                    <p class="text-right"><a href="https://www.froala.com">Recover Password</a></p>
                                </div>
                                </div>
                                <div class="row mt-4">
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="button">Submit</button>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </section>
<br>
<section>
                        <!-- General Form Controls -->
                <div class="row mb-4">
                        <!-- Form Controls -->
                        <div class="col-lg-6 mb-3">
                        <div class="card">
                            <!-- Card Header -->
                            <div class="card-header">
                            <h3 class="h6 mb-0">Form Controls</h3>
                            </div>
                            <!-- End Card Header -->
        
                            <!-- Card Body -->
                            <div class="card-body">
                            <div class="form-group mb-4">
                                <label for="defaultInput" class="u-font-size-90">Default input</label>
                                <input type="email" class="form-control" id="defaultInput" aria-describedby="emailHelp" placeholder="Placeholder">
                            </div>
        
                            <hr class="my-4">
        
                            <div class="form-group mb-4">
                                <label for="inputLeftIcon" class="u-font-size-90">Input with left icon</label>
                                <span class="form-icon-wrapper">
                                <span class="form-icon form-icon--left">
                                    <i class="fas fa-user-circle form-icon__item"></i>
                                </span>
                                <input type="email" class="form-control form-icon-input-left" id="inputLeftIcon" aria-describedby="emailHelp" placeholder="Placeholder">
                                </span>
                            </div>
        
                            <div class="form-group mb-4">
                                <label for="inputRightIcon" class="u-font-size-90">Input with right icon</label>
                                <span class="form-icon-wrapper">
                                <span class="form-icon form-icon--right">
                                    <i class="fas fa-user-circle form-icon__item"></i>
                                </span>
                                <input type="email" class="form-control form-icon-input-right" id="inputRightIcon" aria-describedby="emailHelp" placeholder="Placeholder">
                                </span>
                            </div>
        
                            <hr class="my-4">
        
                            <div class="form-group mb-4">
                                <label for="disabledTextInput" class="u-font-size-90">Disabled</label>
                                <input type="email" class="form-control" id="disabledTextInput" aria-describedby="disabledTextInput" placeholder="Placeholder" disabled>
                                <small class="form-text text-muted">Text feedback.</small>
                            </div>
        
                            <div class="form-group mb-4">
                                <label for="disabledTextInput" class="u-font-size-90">Success</label>
                                <input type="email" class="form-control is-valid" id="disabledTextInput" aria-describedby="disabledTextInput" placeholder="Placeholder">
                                <div class="valid-feedback">Success feedback.</div>
                            </div>
        
                            <div class="form-group">
                                <label for="disabledTextInput" class="u-font-size-90">Error</label>
                                <input type="email" class="form-control is-invalid" id="disabledTextInput" aria-describedby="disabledTextInput" placeholder="Placeholder">
                                <div class="invalid-feedback">Error feedback.</div>
                            </div>
                            </div>
                            <!-- End Card Body -->
                        </div>
                        </div>
                        <!-- End Form Controls -->
                    </section>
        <br>
        <h2>Cards</h2>
        <p>
        <div class="col-sm-3 text-left">
            <div class="fdb-box p-0">
                <img alt="image" class="img-fluid rounded-0" src="./imgs/people/1.jpg">
                <div class="content p-3">
                <h3><strong>Sara Doe</strong></h3>
                <p>Founder</p>
                </div>
            </div>
        </div>
        </p>
        <div class="col-4">
                <img alt="image" class="img-fluid rounded" src="./imgs/people/9.jpg">
                <h3><strong>John Smith</strong></h3>
                <p>Position</p>
                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
        </div>
        
        <div class="fdb-box fdb-touch">
                <h2>Feature 1</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                <p class="mt-4"><a href="">Learn More <i class="fas fa-angle-right"></i></a></p>
        </div>
        
        <section class="fdb-block bg-dark" style="background-image: url(imgs/hero/purple.svg);">
            <div class="container">
                <div class="row">
                <div class="col text-center">
                    <h1>Froala Design Blocks</h1>
                </div>
                </div>
            
                <div class="row-70"></div>
            
                <div class="row text-center justify-content-sm-center no-gutters">
                <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
                    <div class="fdb-box fdb-touch">
                    <h2>Feature 1</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    <p class="mt-4"><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
                    <div class="fdb-box fdb-touch">
                    <h2>Feature 2</h2>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="mt-4"><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
                    <div class="fdb-box fdb-touch">
                    <h2>Feature 3</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p class="mt-4"><a href="https://www.froala.com">Learn More <i class="fas fa-angle-right"></i></a></p>
                    </div>
                </div>
                </div>
            </div>
            </section>
            <section>
                    <footer class="fdb-block footer-small">
            <div class="container">
            <div class="row text-center align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-sm-left">
                <img alt="image" src="./imgs/logo.png" height="40">
                </div>
        
                <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0 text-center text-sm-right text-md-center">
                © 2013-2018 Froala
                </div>
        
                <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
                <a href="https://www.froala.com" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.froala.com" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.froala.com" class="mx-2"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.froala.com" class="mx-2"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                <a href="https://www.froala.com" class="mx-2"><i class="fab fa-google" aria-hidden="true"></i></a>
                </div>
            </div>
            </div>
        </footer>
        </section>