<div class="card" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-light">
      <h4 class="card-title"><%= title %></h4>
      <% if !@project.nil? %>
        <%= render partial:'layouts/orga/mol/like', locals: {project: @project} %>
      <% end %>
    </li>
    <li class="list-group-item">
      <p> Categorie : <%=@current_organization.category %> </p>
      <% if @current_organization.is_association %>
        <p> RNA : <%=@current_organization.RNA %> </p>
      <%end%>
      <% if @current_organization.is_company %>
        <p> Siret : <%=@current_organization.siret %> </p>
      <%end%><br>
      <p> Description : <%= description %>  </p>
    </li>
  </ul>
</div>
