<% if current_user.is_admin? == true %>
  <% @admin_collection.each do |element| %>
    <% if element.organization.is_association == true %>
      <div class="card mb-3">
        <div class="row no-gutters">

          <div class="col-md-4">
            <img src="https://zupimages.net/up/19/49/5gkf.jpg" class="card-img" alt="...">
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Mon association</h2>
              <h3><p class="card-text">Nom : <%= link_to element.organization.name, organization_path(element.organization.id)%></p></h3>
              <h3><p class="card-text">Ville : <%= element.organization.city.city_name %></p></h3>
              <h3><p class="card-text">Categorie : <%= element.organization.category %></p></h3>
              <h3><p class="card-text">Description : <%= element.organization.description %></p></h3>
            </div>
          </div>

        </div>
      <li class="list-group-item bg-light">
        <h4 class="card-title">Les projets actuels : </h4><%= link_to "Initier un projet", new_project_path(:organization_id => element.organization.id), class: "btn btn-outline-secondary"%>
      </li>

        <div class="card-group">
          <% element.organization.projects.each do |project|%>

          <div class="card">
            <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= link_to project.name, project_path(project.id) %></h5>
              <p class="card-text">project.description</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <% end %>
        </div>

    <% end %>
  <% end %>
<% end %>
      </div>
      