<% pic_url = "https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" %>


<div class="container-fluid">
  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <img  src= <%= pic_url %> class="card-img-top" alt="...">
        <br/><br/>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img  src= <%= pic_url %> class="card-img-top" alt="...">
        <br/><br/>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img  src= <%= pic_url %> class="card-img-top" alt="...">
        <br/><br/>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img  src= <%= pic_url %> class="card-img-top" alt="...">
        <br/><br/>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img  src= <%= pic_url %> class="card-img-top" alt="...">
        <br/><br/>
      </div>

    </div>
  </div>
<div>