<section class="fdb-block" style="background-image: url(https://zupimages.net/up/19/49/bwvc.png);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
        <div class="fdb-box">
          <div class="row">
            <div class="col">
              <h1>S'inscrire</h1>
              <p class="lead">Première fois sur AssoAngels ?</p>
            </div>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row mt-4">
            <div class="col">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caractères minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control mb-1", placeholder:"Mot de passe", type:"password" %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mb-1", placeholder:"Confirmer mot de passe", type:"password" %>
            </div>
          </div>
          <%= render "devise/shared/links" %>
          <div class="row mt-4">
            <div class="col">
              <div class="actions">
                <%= f.submit "S'inscrire", class:"btn btn-secondary"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
