<% pic_url = "https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" %>
<% title = "c'est le titre !" %>
<% description = "c'est la description !" %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: @current_user.first_name, description: @current_user.last_name } %> 
      <br/>
      <%= render partial:'layouts/orga/mol/atom/card_pict', locals: {pic_url: pic_url} %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: @current_user.email, description: @current_user.city } %>
      <br/>
    </div>
    <div class="col-md-4">
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: title, description: description } %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: title, description: description } %>
      <br/>
    </div>
  </div>
</div>



<!-- Private part -->
<% if current_user.is_admin? == true %>
  <%= "Private Infos" %><br />
  <% @admin_collection.each do |element| %>
    <div class="container" style="border-style: solid; border-width: 2px;">
    <% if element.organization.is_association == true %>
      <p> Asso : </p>
    <% else %>
      <p> Entreprise : </p>
    <% end %> 
    <%= link_to element.organization.name, organization_path(element.organization.id)%><br /><hr />
      <p> Projects : </p>
      <% element.organization.projects.each do |project|%>
        <%= link_to project.name, project_path(project.id) %><br />
      <% end %>
    </div>
  <% end %>  
  <%= link_to "Créer une association", new_organization_path(:association => true )%><br>
  <%= link_to "Créer une entreprise", new_organization_path(:association => false )%>
<% end %>



<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        
          <% if user_signed_in? %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-justify">
                <%= link_to "Modifier mon compte", edit_user_registration_path , class: "btn btn-primary btn-lg btn-block"%>
              </li>
            </ul>
          <% end %>
        
      </div>
    </div>
  </div>
   <br/>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card" >
          <% if user_signed_in? %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-justify">
                <%= link_to "Créer une association", new_organization_path(:association => true ), class: "btn btn-outline-secondary btn-lg btn-block"%><br>
                <%= link_to "Créer une entreprise", new_organization_path(:association => false ), class: "btn btn-outline-secondary btn-lg btn-block"%>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
   <br/>
</section>


