<section class="fdb-block" style="background-image: url(https://zupimages.net/up/19/50/6bww.png);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
        <div class="fdb-box2">
          <div class="row">
            <div class="col">
              <h1>Don</h1>
            </div>
          </div>
          <%= form_with model: @donation do |donation_form|%>
          <div class="row mt-4">
            <div class="col">
              <%= donation_form.number_field :donation_amount, in: 1.0..Float::INFINITY, class: "form-control", placeholder: "Montant" %><br />
              <%= donation_form.hidden_field :project_id, :value => params[:project_id] %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="actions">
                <%= donation_form.submit :value => "Faire un don", class:"btn btn-primary" %>
              </div>
              <% end %>
            </div>
          </div>
          <br>
          <p>Avec notre partenaire :</p>
          <div class="card">
            <%= image_tag "https://zupimages.net/up/19/50/owmb.jpg", class: "card-img-top", alt: "illustration" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  