<% @projects.each do |project|%>
  <div class="card" >
    <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" class="card-img-top" alt="...">
    <div class="card-body bg-primary">
      <h4 class="card-title"><%= project.name %></h4>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= project.description %></li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"><%= link_to "Page projet", project_path(project.id)%></a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= project.in_progress_percentages? %>%;" aria-valuenow="<%= project.in_progress_percentages? %>" aria-valuemin="0" aria-valuemax="100"><%= project.in_progress_percentages? %>%
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= project.description %></li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
      <%= link_to "Page projet", project_path(project.id)%>
        
        <a href="#" class="card-link">Another link</a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">25%
        </div>
      </div>
      <div class="card-footer ">
        <a> <%= project.in_progress_statut? %>< /a>
      </div>
    </div> <br/>
  </div>
<% end %>



<div class="container-fluid">

  <div class="container">

    <div class="row">
      Zone pour les Filtres
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial:'layouts/orga/mol/card' %>
      </div>
    </div>

  </div>

<div>

