
<div class="container">

  <% if @current_organization.is_creating_project_permitted(@user) %>
  <p>Vous êtes administrateur de ce projet.</p>
  <p><%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Editer la page", path: edit_project_path(project_id: @project.id, organization_id: @project.organization_id) , color: "primary"} %></p>
  <% end %>

  <div class="row">


    <div class="col-md-8">


      <%= render partial:'layouts/orga/mol/atom/card_pict', locals: {pic_url: @project.logo_url} %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: @project.name, description: @project.description } %>
      <br/>
      
      <%= render partial:'layouts/orga/mol/card_logo', layout: "layouts/orga/mol/card_mini_layout", locals: {title:"Ils soutiennent le projet", organizations: @donators} %>
      <br/>  
    </div>
    <div class="col-md-4">
      <%= render partial:'layouts/orga/mol/card_raising', layout: "layouts/orga/mol/card_mini_without_title_layout", locals: {  project: @project} %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_organization', layout: "layouts/orga/mol/card_mini_layout", locals: {title:"Porteur", project: @project} %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_project_links', locals: {project: @project} %>
      <br/>
      <% if @current_organization.is_creating_project_permitted(@user) %>
        <%= render partial:'layouts/orga/mol/card_project_link_new', locals: {project: @project} %>
        <br/>
      <% end %>   
    </div>
  </div>
</div>