<% pic_url = @project.logo_url %>

<% title = "c'est le titre !" %>
<% description = "c'est la description !" %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= render partial:'layouts/orga/mol/atom/card_pict', locals: {pic_url: pic_url} %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: @project.name, description: @project.description } %>
      <br/>
      <% if user_signed_in? %>
      <% end %>

      <%= render partial:'layouts/orga/mol/card_logo', layout: "layouts/orga/mol/card_mini_layout", locals: {title:"Ils soutiennent le projet", project: @project} %>
      <br/>  
    </div>
    <div class="col-md-4">
      <%= render partial:'layouts/orga/mol/card_raising', layout: "layouts/orga/mol/card_mini_without_title_layout", locals: {  project: @project} %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_organization', layout: "layouts/orga/mol/card_mini_layout", locals: {title:"Porteur", project: @project} %>
      <br/>     
    </div>
  </div>
</div>

<% if @current_organization.is_creating_project_permitted(@user) %>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Editer la page", path: edit_project_path(@project.id) , color: "primary"} %>
<% end %>



<%= form_with model: @donation do |donation_form|%>
  <%= donation_form.number_field :donation_amount, in: 1.0..Float::INFINITY %><br />
  <%= donation_form.hidden_field :project_id, :value => params[:id] %>
  <%= donation_form.submit %>
<% end %>


<%= @project.name %><br/>
<%= @project.description %><br/>
<%= @project.starting_date %><br/>
<%= @project.donation_targeted %><br/>
<%= @project.donation_start %><br/>
<%= @project.donation_end %><br/>
<%= @project.organization.name %><br/>
<%= @project.city.city_name%><br/>
<%= @project.city.department.department_name%><br/>
<%= @project.city.department.country.country_name%><br/>
<br/>
Statut: <br/>
<%= @project.in_progress_statut? %>
<br/>
<br/>
Montant récolté: <br/>
<%= @project.in_progress_amount? %> €
<br/>
<br/>
Objectif: <br/>
<%= @project.donation_targeted %> €
<br/>
<br/>
Pourcentage: <br/>
<%= @project.in_progress_percentages? %> %
