<div id="projet" class="card" >
  <%= image_tag @project.logo_url, class: "card-img-top", alt: "illustration" %>
  <%= render partial:'layouts/orga/mol/like', locals: {project: @project} %>
  <ul class="list-group list-group-flush">

    <li class="list-group-item bg-light">
      <h4 class="card-title"><%= link_to @project.name[0 .. 25] + "...", project_path(@project.id)%></h4>
      <p><small><%= link_to @project.organization.name, organization_path(@project.organization.id)%></small></p>
      <p><small><%= @project.city.city_name %></small></p>
    </li>

    <li class="list-group-item">
      <p> <%= @project.in_progress_amount? %> € / <%= @project.donation_targeted %> €</p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= @project.in_progress_percentages? %>"  aria-valuemin="0" aria-valuemax="100" style="width:<%= @project.in_progress_percentages? %>%">
          <%= @project.in_progress_percentages? %>%
        </div>
      </div>
    </li>

    <li class="list-group-item bg-light">
      <%= link_to "En savoir plus", project_path(@project.id), class:"btn btn-primary"%>
      <% days_left_str = "J-" + @project.remaining_time.to_s  %>
      <%= link_to days_left_str, project_path(@project.id), class:"btn btn-outline-primary"%>
    </li>

  </ul>
  
</div> <br><br>