
<%# project card %>
<% project_name = @project.name %>
<% organization_name = @project.organization.name%>
<% city_name = @project.city.city_name %>
<% description = @project.description%>
<% raise_objective = @project.donation_targeted %>
<% raise_current = @project.in_progress_amount? %>
<% in_progress_percentages = @project.in_progress_percentages? %>
<% project_id = @project.id %>
<% organization_id = @project.organization.id %>
<% days_left = 8 %>

<% @project.in_progress_statut? %>
<% @project.name %>
<% @project.starting_date %>

<% @project.donation_targeted %>
<% @project.donation_start %>
<% @project.donation_end %>

<% @project.organization.name %>
<% @project.city.city_name%>
<% @project.city.department.department_name%>
<% @project.city.department.country.country_name%>

  
<div class="card" >
  <img  src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" class="card-img-top" alt="...">

  <ul class="list-group list-group-flush">

    <li class="list-group-item bg-light">
      <h4 class="card-title"><%= link_to project_name, project_path(project_id)%></h4>
      <p><small><%= link_to organization_name, organization_path(organization_id)%></small></p>
      <p><small><%= city_name %></small></p>
    </li>

    <li class="list-group-item">
      <a> <%= raise_current %> € / <%= raise_objective %> €</a>
      <div class="progress">
        <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="<%= in_progress_percentages%>"  aria-valuemin="0" aria-valuemax="100" style="width:<%= in_progress_percentages%>%">
          <%= in_progress_percentages%>%
        </div>
      </div>
    </li>

    <li class="list-group-item bg-light">
      <%= link_to "en savoir plus", project_path(project_id), class:"btn btn-primary"%>
      <% days_left_str = "J-" + days_left.to_s  %>
      <%= link_to days_left_str, project_path(project_id), class:"btn btn-outline-primary"%>
    </li>

  </ul>
  
</div> <br/>

<% @project.in_progress_statut? %>
<% @project.in_progress_amount? %>
<% @project.donation_targeted %>