<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <%= link_to image_tag('https://zupimages.net/up/19/49/aj39.png'), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav5" aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center col-md-8" id="navbarNav12">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item active">
            <%= link_to "Accueil", root_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Entreprises partenaires", organizations_path(association: false), class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Associations partenaires", organizations_path(association: true), class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Projets", projects_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", root_path, class: "nav-link"%>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav5">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""></a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end ml-auto">
          <li class="nav-item">
            <a class="nav-link" href=""></a>
          </li>
          <% if user_signed_in? == false %>
            <li class="nav-item">
              <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "S'inscrire", path: new_user_registration_path() , color: "primary"} %> <br/>
            </li>
            <li class="nav-item">
              <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Se connecter", path: new_user_session_path() , color: "outline-link", } %><br/>
            </li>
          <% else %>
            <li class="nav-item">
              <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Mon profil", path: user_path(current_user.id) , color: "primary"} %><br/>
            </li>
            <li class="nav-item">
              <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Se déconnecter", path: destroy_user_session_path , color: "outline-link", methods: "delete"} %><br/>
            </li>
            <% if current_user.master == true %>
              <li class="nav-item" >
                <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Espace Administration", path: master_root_path() , color: "danger", } %><br/>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
