<!-- Associations -->
<% @associations.each_with_index do |asso, i| %>
  <div class="card" >
    <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" class="card-img-top" alt="...">
    <div class="card-body bg-primary">
      <h4 class="card-title"><%= asso.name %></h4>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= asso.description %></li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <!-- Links to : Association page, Association projects -->
      <%= link_to "Page de l'association", organization_path(asso.id)%>
      <% asso.projects.each do |project|%>
        <%= link_to project.name, project_path(project.id)%>
      <% end %>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">25%
      </div>
    </div>
    <div class="card-footer ">
      <a> En cours de financement</a>
    </div>
  </div>
   <br/>
<% end %>
<!-- Companies -->
<% @companies.each_with_index do |company, i| %>
  <div class="card" >
    <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" class="card-img-top" alt="...">
    <div class="card-body bg-primary">
      <h4 class="card-title"><%= company.name %></h4>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= company.description %></li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <%= link_to "Association page", organization_path(company.id)%>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">25%
      </div>
    </div>
  </div>
   <br/>
<% end %>
