<% pic_url = "https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" %>
<% title = "c'est le titre !" %>
<% description = "c'est la description !" %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render partial:'layouts/orga/mol/atom/card_pict', locals: {pic_url: pic_url} %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: @current_organization.name, description: @current_organization.description } %>
      <br/>
    </div>
    <div class="col-md-6">
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: title, description: description } %>
      <br/>
      <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: title, description: description } %>
      <br/>
    </div>
  </div>
</div>

<div class="container">
  <%= @current_organization.name %><br/>
  <%= @current_organization.description %><br/>
  <%= @current_organization.city.city_name %><br/>
  <br/>
</div>
<% if @current_organization.is_creating_project_permitted(@user) %>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Initier un nouveau projet", path: new_project_path(organization_id: @current_organization.id) , color: "primary"} %>
  <%= render partial:'layouts/orga/mol/atom/button', locals: {name: "Editer la page", path: edit_organization_path(@current_organization.id) , color: "primary"} %>
<% end %>
<br/>
<br/>
