<section>
  <% @organization = @current_organization%>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <% if @organization.is_association %>
          <%= render partial:'layouts/orga/mol/card_title', locals: {title: "Association "} %>
        <%end%>
        <% if @organization.is_company %>
          <%= render partial:'layouts/orga/mol/card_title', locals: {title: "Entreprise "} %>
        <%end%>
        <br/>
        <div>
          <% if @current_organization.is_organization_admin(@user) %>
            <p>Vous êtes administrateur de cette organisation.</p>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8">
            <%= render partial:'layouts/orga/mol/atom/card_pict', locals: {pic_url: @organization.logo_url} %>
            <br/>
            <%= render partial:'layouts/orga/mol/card_tags' %>
            <br/>
            <%= render partial:'layouts/orga/mol/card_title_description', locals: {title: @organization.name, description: @organization.description } %>
            <br/>
            <br/>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <% if @current_organization.is_creating_project_permitted(@user) %>
              <div class="card" >
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-justify">
                    <%= link_to "Initier un nouveau projet", new_project_path(organization_id: @current_organization.id) , class: "btn btn-primary btn-lg btn-block"%>
                    <%= link_to "Editer la page", edit_organization_path(@current_organization.id) , class: "btn btn-primary btn-lg btn-block"%>
                  </li>
                </ul>
              </div>
              <br/>
            <% elsif @current_organization.is_organization_admin(@user) %>
              <div class="card" >
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-justify">
                    <%= link_to "Editer la page", edit_organization_path(@current_organization.id) , class: "btn btn-primary btn-lg btn-block"%>
                    <%= link_to "Trouver un projet", projects_path , class: "btn btn-primary btn-lg btn-block"%>
                  </li>
                </ul>
              </div>
              <br/>
            <% end %>
            <div class="card" >
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                  <h4 class="card-title">Localisation</h4>
                </li>
                <li class="list-group-item text-justify">
                  <p> Code postal : <%=@organization.city.department.zip_code %></p>
                  <p>  Ville : <%=@organization.city.city_name %> </p>
                  <p> Région : <%=@organization.city.department.region %> </p>
                  <p> Département : <%=@organization.city.department.department_name %> </p>
                  <p> Pays : <%=@organization.city.department.country.country_name %> </p>
                </li>
              </ul>
            </div>
            <br/>
            <%= render partial:'layouts/orga/mol/card_organization_links', locals: {organization: @organization} %>
            <br/>
            <% if @current_organization.is_organization_admin(@user) %>
              <%= render partial:'layouts/orga/mol/card_organization_link_new', locals: {organization: @organization} %>
              <br/>
            <% end %>
          </div>
        </div>
      </div>
      <% if @organization.is_association %>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <%= render partial:'layouts/orga/mol/card_title', locals: {title: "Projets en cours"} %>
              <br>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <% if !@projects.empty? %>
              <% @projects.each do |project|%>
                <% @project = project %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= render partial:'layouts/orga/card_project', locals: {project: @project} %> <a> </a>
                </div>
              <% end %>
            <% else %>
              <p>Aucun projet n'a encore initié.</p>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>
